.userpage {
  display: flex;
  width: 100%;
}

.userpage .userContainer {
  flex: 6;
}

.userpage .userContainer .top {
  margin-top: 125px;
  margin-bottom: 120px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.userContainer .top .left {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  position: relative;
}

.userContainer .top .left .editButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  color: rgb(81, 48, 7);
  background-color: #eabe8c;
  cursor: pointer;
  border-radius: 0px 0px 0px 5px;
}

.userContainer .top .left .item {
  display: flex;
  gap: 20px;
}

.userContainer .top .left .item .itemImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.userContainer .top .left .item .details .itemTitle {
  margin-bottom: 10px;
  color: #555;
}

.userContainer .top .left .item .details .detailItem {
  margin-bottom: 10px;
  font-size: 14px;
}

.userContainer .top .left .item .details .detailItem .itemKey {
  font-weight: bold;
  color: gray;
  margin-right: 5px;
}

.userContainer .top .left .item .details .detailItem .itemValue {
  font-weight: 300;
}

.userContainer .top .right {
  flex: 2;
}

.userContainer .left .title {
  font-size: 16px;
  color: #eabe8c;
  margin-bottom: 15px;
}

.userContainer .bottom {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 10px 20px;
}

.userContainer .bottom .title {
  font-size: 16px;
  color: #eabe8c;
  margin-bottom: 15px;
  margin-left: 20px;
}

.userContainer .datatable {
  height: 910px;
  width: 1628px;
}
