.categ .category-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.categ .categ-section {
  margin-top: 70px;
}

.categ .categ-section .category-title {
  margin-top: 20px;
  font-size: 38px;
  text-align: center;
  font-family: "Segoe Print", cursive;
}

.categ .navbar {
    color: black;
  }

  .categ {
  width: 100%;
    display: flex;
    width: 100%;
  }





