.authentication {
  display: flex;
  width: 100%;
}

.authentication .authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 100px auto;
}

.authentication .navbar {
  color: black;
}
